<!DOCTYPE html>
<html>
    <head>
        <title>{{ app_name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <base href="{{ app_url }}" />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous" />
        <!-- vendors:css -->
        <!-- endinject -->
        <!-- inject:css -->
        <link rel="stylesheet" href="/css/ama.min.css">
        <link rel="stylesheet" href="/css/apps.min.css">
        <!-- endinject -->
    </head>
    <body>
        {{> navbar }}
        {{> buttons }}
        {{> footer }}
        <script src="https://use.fontawesome.com/4eb65bfcb0.js"></script>
        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
        </script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
        </script>
        <!-- vendors:js -->
        <!-- endinject -->
        <!-- inject:js -->
        <script src="/js/ama.min.js"></script>
        <!-- endinject -->
    </body>
</html>
