.cover {
    padding: 32px;
    width: 100%;
    height: 50vw;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.cover.tinted {
    & {
        position: relative;
        color: $white;
    }
    &::before {
        content: '';
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.48);
    }
    & > * {
        z-index: 1;
    }
}
