md-list.igor-list {
    & {
        padding: 0 0 0 24px;
    }
    & > md-list-item {
        & {
            padding: 8px 24px;
            border-left: solid 1px $gray-light;
            border-bottom: solid 1px $gray-light;
        }
        & > md-icon:first-child {
            position: absolute;
            top: 5px;
            left: -12px;
            color: $gray-light;
        }
    }
    & > md-list-item.clickable {
        & {
            padding: 0;
            border-left: solid 1px $gray-light;
            border-bottom: solid 1px $gray-light;
        }
        & > div.md-button {
            & {
                padding: 0;
                overflow: visible;
            }
            & > div.md-list-item-inner {
                & {
                    padding: 20.5px 24px;
                    box-sizing: border-box;
                }
                & > md-icon:first-child {
                    position: absolute;
                    top: 5px;
                    left: -12px;
                    color: $gray-light;
                }
            }
        }
    }
}
