md-input-container.md-error-spacer-on-demand {
    .md-errors-spacer {
        min-height: 0;
    }
}

.no-margin {
    margin: 0;
}

.md-padding-2 {
    padding: 16px;
}

.md-padding-3 {
    padding: 24px;
}

.md-padding-4 {
    padding: 32px;
}

.fixed-to-bottom {
    position: fixed;
    bottom: 0;
}
