fieldset {
    margin: 0;
    padding: 0;
    border: none;
}
md-input-container.md-textfield-box,
.md-textfield-box md-input-container {
    & {
        padding: 0;
        max-height: 56px;
        background-color: rgba($gray-dark, 0.10);
        border-radius: 4px !important;
        border-color: $gray-dark;
        border-width: 0 0 2px;
        border-style: solid;
    }
    md-input-container {
        margin: 0;
        padding: 0;
    }
    label:not(.md-no-float):not(.md-container-ignore) {
        color: $gray-dark;
        padding-left: 16px;
        transform: translate3d(0,37px,0) scale(1);
    }
    input {
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 0px;
        height: 54px;
        border: none !important;
    }
    md-select {
        & {
            height: 54px;
        }
        md-select-value {
            & {
                padding-left: 16px !important;
                padding-right: 16px !important;
                border: none !important;
            }
        }
    }
    .md-errors-spacer {
        display: none;
    }
}
md-input-container.md-textfield-box.md-dark,
.md-textfield-box.md-dark md-input-container {
    & {
        background-color: rgba($gray-light, 0.10);
        border-color: $gray-light;
    }
    label:not(.md-no-float):not(.md-container-ignore) {
        color: $gray-light;
    }
    input,
    md-select-value {
        color: $white;
    }
}
md-input-container.md-textfield-box.md-input-focused,
.md-textfield-box md-input-container.md-input-focused,
md-input-container.md-textfield-box.md-input-has-value,
.md-textfield-box md-input-container.md-input-has-value {
    label:not(.md-no-float):not(.md-container-ignore) {
        padding-left: 19px;
        transform: translate3d(0,26px,0) scale(.75);
    }
    md-select-value {
        span:not(.md-select-icon) {
            margin-top: 8px;
        }
    }
}
md-input-container.md-textfield-box.md-input-focused,
.md-textfield-box md-input-container.md-input-focused {
    & {
        border-color: $primary;
    }
    label:not(.md-no-float):not(.md-container-ignore) {
        color: $primary;
    }
},
md-input-container.md-textfield-box.md-input-invalid,
.md-textfield-box md-input-container.md-input-invalid {
    & {
        border-color: #DD2C00;
    }
    label,
    md-select md-select-value {
        color: #DD2C00 !important;
    }
}
md-input-container.md-textfield-box.md-input-has-value:not(.md-input-focused),
.md-textfield-box md-input-container.md-input-has-value:not(.md-input-focused) {
    label:not(.md-no-float):not(.md-container-ignore) {
        color: $gray-dark;
    }
}
md-input-container.md-textfield-box.md-input-has-value.md-dark:not(.md-input-focused),
.md-textfield-box md-input-container.md-input-has-value.md-dark:not(.md-input-focused) {
    label:not(.md-no-float):not(.md-container-ignore) {
        color: $gray-light;
    }
}
md-input-container.md-textfield-box.md-icon-right,
.md-textfield-box md-input-container.md-icon-right {
    input,
    md-select md-select-value {
        padding-right: 40px;
    }
    md-icon {
        margin: 10px 8px;
    }
}
