.toolbar-float {
    & {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
    }
    h2 {
        margin: inherit;
        font-size: inherit;
        font-weight: normal;
    }
}

@media (max-width: 959px) and (min-width: 0) and (orientation: portrait) {
    .toolbar-float {
        & {
            margin: 0;
            font-size: 20px;
            min-height: 56px;
        }
    }
}
